<nav class="w-full p-4 shadow-lg flex items-center justify-between bg-white fixed">
	<a href="/" class="text-lg">Node starter</a>
  <% if (!locals.user) { if ("register" == locals.page) { %>
	<a href="/login" class="text-lg">Login</a>
  <% } else { %>
  <a href="/register" class="text-lg">Sign up</a>
  <% } } else { %>
  <a href="/profile">
    <img
      class="w-10 h-10 rounded-full"
      src="<%=utils.toDataUri(authUser.profile) %>"
      alt="profile"
    />
  </a>
  <% } %>
</nav>
