<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forgot password</title>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body class="min-h-screen">
  <% locals.showLoginButton = true %>
  <%-include("partials/header.ejs") %>
  <main class="grid w-full h-screen place-items-center py-[5rem] mb-10">
    <form
      action="/forgot-password"
      method="post"
      class="shadow-lg rounded-xl p-5 ring-1 ring-slate-400 min-w-[22rem] mx-10 max-w-[30rem]"
    >
      <%-include("partials/form-prompt.ejs") %>
      <h1 class="text-4xl font-extrabold mb-1">Forgot password</h1>
      <h3 class="text-sm text-gray-500 mb-4">Reset your password</h3>
      <div class="mb-4">
        <label for="email" class="block mb-2">Email</label>
        <input type="email" name="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="peer valid:ring-slate-300 w-full p-3 w-200 focus:outline-none focus:valid:ring-blue-300 rounded ring-2 [&:not(.is-empty)]:invalid:ring-red-500" placeholder="user@example.com" required>
        <p class="hidden text-sm text-red-500 peer-[:not(.is-empty)]:peer-invalid:block mt-2">Please enter a valid Email.</p>
      </div>
      <p class="text-sm text-gray-500">Remember your password? <a href="/login" class="text-blue-600">Login</a>
      </p>
      <button class="bg-gray-700 px-4 py-2 text-white mt-3 rounded" type="submit">Send reset password email</button>
    </form>
  </main>
  <script src="/src/form.js"></script>
</body>

</html>
