<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>node-starter</title>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body class="minh-screen">
  <%-include("partials/header.ejs") %>
  <main class="grid w-full h-screen place-items-center">
    <p>Get started by editing <code class="bg-slate-700 py-1.5 px-2 rounded text-white">views/index.ejs</code></p>
  </main>
</body>

</html>
