<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forgot password</title>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body class="min-h-screen">
  <% locals.showLoginButton = true %>
  <%-include("partials/header.ejs") %>
  <main class="grid w-full h-screen place-items-center py-[5rem] mb-10">
    <form action="/reset-password/<%=token %>" method="post" class="shadow-lg rounded-xl p-5 ring-1 ring-slate-400 min-w-[22rem] mx-10 max-w-[30rem]">
      <%-include("partials/form-prompt.ejs") %>
      <h1 class="text-4xl font-extrabold mb-1">Reset password</h1>
      <h3 class="text-sm text-gray-500 mb-4">Reset your password</h3>
      <div class="mb-4">
        <label for="password" class="block mb-2">New password</label>
        <input type="password" name="password" id="password" class="peer valid:ring-slate-300 w-full p-3 w-200 focus:outline-none focus:valid:ring-blue-300 rounded ring-1 [&:not(.is-empty)]:invalid:ring-red-500" placeholder="**********" minlength="8" required>
        <p class="hidden text-sm text-red-500 peer-[:not(.is-empty)]:peer-invalid:block mt-2">Password should be atleast 8 characters long.</p>
      </div>
      <p class="text-sm text-gray-500">Remember your password? <a href="/login" class="text-blue-600">Login</a>
      </p>
      <button class="bg-gray-700 px-4 py-2 text-white mt-3 rounded" type="submit">Reset password</button>
    </form>
  </main>
  <script src="/src/form.js"></script>
</body>

</html>
